@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Html.DisplayFor(model => model.FirstName)!</h1>

<p>
    <a asp-action="Details" asp-route-id="@Model.Id">View Profile</a> |
    <a asp-action="Schedule" asp-route-id="@Model.Id">Your Pickup</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

</p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillTotal)
        </dd>
    </dl>
</div>
<div>
</div>

