@model TrashCollector.Models.Employee
@{
    ViewData["Title"] = "Index";
}

    <h1>Welcome @Html.DisplayFor(model => model.FirstName)!</h1>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a> |
        <a asp-action="Schedule">View Today's Schedule</a> |
        <a asp-action="ViewSchedule">View Schedule</a> 


    </p>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
</div>
