@model IEnumerable<TrashCollector.Models.Schedule>

@{
    ViewData["Title"] = "Schedule";
}

<h1>Today's Pickups</h1>

<p>
    <a asp-action="Index">Home Page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.holdStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.holdEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.day)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date.Date)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PickedUp)
            </td>*@ 
            <td>
                <a asp-action="PickedUp" asp-route-id="@item.Id">Mark As Complete</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.holdStart.Date)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.holdEnd.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DayId)
            </td>*@
            @*<td>
                <asp:Button id="PickedUp" runat="server" Text="Picked Up" OnClick="PickedUp"/>
            </td>*@
        </tr>
}
    </tbody>
</table>
